aiofiles==22.1.0
aiohttp==3.8.3
aiosignal==1.2.0
aiosqlite==0.17.0
anyio==3.6.2
async-lru==1.0.3
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
Cython==0.29.32
databases==0.6.1
decorator==5.1.1
docutils==0.19
fastapi==0.85.2
fire==0.4.0
frequency-controller==0.0.6
frozenlist==1.3.1
greenlet==2.0.0
h11==0.14.0
idna==3.4
Jinja2==3.1.2
jmespath==1.0.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
Kivy==2.1.0
Kivy-Garden==0.1.5
kivymd==1.1.1
lxml==4.9.1
MarkupSafe==2.1.1
multidict==6.0.2
objectpath==0.6.1
pbr==5.11.0
Pillow==9.3.0
ply==3.11
pydantic==1.10.2
Pygments==2.13.0
PyYAML==6.0
requests==2.28.1
selectolax==0.3.11
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
starlette==0.20.4
termcolor==2.1.0
toml==0.10.2
torequests==6.0.0
typing_extensions==4.4.0
uniparser==3.0.2
urllib3==1.26.12
uvicorn==0.19.0
watchdogs==1.9.10
yarl==1.8.1
